body{
  margin: 0;
  padding: 0;
  color: #172b4d;
  font-family: -apple-system,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif !important;
}
h1 {
  font-size: 2em !important;
}

.product-title {
  font-weight: bold;
  font-size: 1.2em;
}

.product-id {
  font-size: .8em;
  margin: 1em 0;
}

.product-edit-icon {
  opacity: .7;
  position: absolute;
  right: 2.3rem;
  top: .4rem;
}

.product-edit-icon:hover {
  opacity: 1;
}


.navbar, .navbar-end, .navbar-menu, .navbar-start {
  align-items: stretch !important;
  display: flex !important;
}

.navbar {
  background-color: #00000045 !important;
  color: white !important;
  max-height: 40px !important;
  padding: 4px !important;
  overflow: hidden !important;
}

.navbar-menu {
  flex-grow: 1 !important;
  flex-shrink: 0 !important;
  box-shadow: none !important;
  padding: 0 !important;
}

.navbar-item {
  display: flex !important;
  align-items: center;
  color:white !important;
}

.navbar-end {
  justify-content: flex-end !important;
  margin-left: auto !important;
}

.nav_button {
	padding: 10px !important;
  background: #00000045 !important;
  margin-right: 10px !important;
}

.features {
  padding-bottom: 3em;
}

body {
  visibility: visible !important;
}


.auth form {
  margin-top: 1em;
  max-width: 50%;
}

.buttons {
  margin-left: 1em;
}
.app_container{
  background-image: url("./images/background.jpg");
  height: 100vh;
 
}
.board_container{
  background-image: url("./images/background.jpg");
  background-size: cover;
  min-height: 100vh;
  padding: 20px;
  overflow: scroll;
}

.trello_list{
  background-color:#ebecf0 !important;
  max-width: 220px;
  min-width: 220px;
  height: 100%;
  margin: 0.2rem;
  border-radius: 2px;
  padding: .3rem !important;
}
.add_list{
    background-color: #00000014 !important;
    color: #172b4d !important;
    text-align: left !important;
    border: none !important;
}
.add_list:hover{
  background-color: rgba(0,0,0,.16) !important;
}
.trello_card{
  /* padding: 2px; */
  margin: .3rem 0px;
  border-radius: 2px;
}
.trello_card_button{
  border: none !important;
  box-shadow: 0 1px 0 #091e4240 !important;
  padding: 0px 2px !important;
  /* background-color: pink !important; */
  width: 100%;
  justify-content: left !important;
  border-radius: 2px !important;
  height: 1.5rem !important;
  font-size: 0.9rem !important;
}
.add_card{
  opacity: 0.01;
}
.add_text{
  color: rgb(82, 82, 82);
}
.add_button{
  width: 100%;
  justify-content: left !important;
  font-size: .9rem !important;
  padding: .1rem .1rem !important;
  text-decoration: none;
  height: 100% !important;
  background-color:#ebecf0 !important;
  color: #5e6c84 !important;
  border: none !important;
}
.add_button:hover{
  background-color: rgba(9,30,66,.08) !important;
    color: #172b4d !important;
}
@media screen and (max-width:1023px){
  .navbar-menu {
    background-color: #00000000 !important;
    color: white !important;
    max-height: 40px !important;
    padding: 4px !important;
    overflow: hidden !important;
  }
  

}