body{
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 2em !important;
}

.product-title {
  font-weight: bold;
  font-size: 1.2em;
}

.product-id {
  font-size: .8em;
  margin: 1em 0;
}

.product-edit-icon {
  opacity: .7;
  position: absolute;
  right: 2.3rem;
  top: .4rem;
}

.product-edit-icon:hover {
  opacity: 1;
}

.navbar, .navbar-end, .navbar-menu, .navbar-start {
  align-items: stretch !important;
  display: flex !important;
}

.navbar-menu {
  flex-grow: 1 !important;
  flex-shrink: 0 !important;
  box-shadow: none !important;
  padding: 0 !important;
}

.navbar-item {
  display: flex !important;
  align-items: center;
}

.navbar-end {
  justify-content: flex-end !important;
  margin-left: auto !important;
}

.features {
  padding-bottom: 3em;
}

body {
  visibility: visible !important;
}


.auth form {
  margin-top: 1em;
  max-width: 50%;
}

.buttons {
  margin-left: 1em;
}

.board_container{
  background-image: url("./images/background.jpg");
  background-size: cover;
  min-height: 100vh;
  padding: 20px;
  overflow: scroll;
}

.trello_list{
  background-color:#ebecf0 !important;

  /* background-color: lightgray; */
  max-width: 220px;
  min-width: 220px;
  height: 100%;
  margin: 0.2rem;
  border-radius: 1px;
  padding: .3rem !important;
}
.trello_card{
  padding: 2px;
  margin: .3rem 0px;
  border-radius: 1px;
}
.add_card{
  opacity: 0.01;
}
.add_text{
  color: rgb(82, 82, 82);
}
.add_button{
  width: 100%;
  justify-content: left !important;
  font-size: .9rem !important;
  padding: .1rem .1rem !important;
  text-decoration: none;
  height: 100% !important;
  background-color:#ebecf0 !important;
  color: #5e6c84 !important;
  border: none !important;
}
.add_button:hover{
  background-color: rgba(9,30,66,.08) !important;
    color: #172b4d !important;
}